header{  
    border-radius: 50px;
    margin-top: 20px;
}

.b-radius{
    border-radius: 50px;
}
.b-radius-30{
    border-radius: 30px;
}

.nav-link{
    color: #000;
}
.aiReturn{
    min-height: 300px;
}